@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&display=swap');

html {
    font-size: 62, 5%
}

body {
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
}

.bgHeader {
    background-color: #29304a;
    color: #f6f5f0;
    text-transform: uppercase;
}

#tienda {
    color: #9f9169;
    font-weight: bolder;
}

a {
    text-decoration: none;
}


ul li {
    list-style-type: none;
}

.iconosRedes {
    width: 16px;
}

main {
    background-color: #f6f5f0;
    color: #29304a;
}


.indexDestacados {
    gap: 5px;
    padding-bottom: 3em;
}


.btnCustomColor {
    background-color: #29304a;
    color: #f6f5f0;
}

.secciones {
    margin-bottom: 1em;
}



.titulomedio {
    font-size: x-large;
    text-transform: uppercase;
    min-height: 100px;
}



.textos {
    background: #c71d0600;
    width: 100%;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.mainCard {
    border-radius: 5px;
    min-height: 200px;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: row;
    align-items: center;
}



footer {
    background-color: #e1e7ef;
    color: #0b0e47;
    padding: 1em;
    font-size: 12px;
}

footer a {
    color: #0b0e47;
}

.footerAhome {
    width: 100px;
    align-items: flex-start;
}

.footerPrincipal {
    display: grid;
    grid-template-columns: 1fr;
}

.footerTitulo {
    font-weight: bolder;
    padding-top: 1em;
}

.footerContacto{
    display: none;
}

@media screen and (min-width: 768px) {
    .indexDestacados {
        display: grid;
        justify-content: space-around;
        align-content: center;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: (repeat(auto));
    }
    

    .footerPrincipal{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .footerContacto{
    display: inline;
}
}





@media screen and (min-width: 908px) {
    .indexDestacados {
        display: grid;
        justify-content: space-around;
        align-content: center;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: (repeat(auto));
    }

.footerPrincipal{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}


}