@import "vars";
@import "mixins";
@import "general";
@import "shop";

/* index */

.secciones {
  margin-bottom: 1em;
}

.textos {
  background: #c71d0600;
  width: 100%;
  font-weight: bold;
  text-align: center;
  @include uppercase;
}

.mainCard {
  border-radius: 5px;
  min-height: 200px;
  font-weight: bold;
  @include bg-card-responsive;
}

.indexDestacados {
  @include grid-4(1, 2, 3, 3, 1);
  @include grid-contenido(center, space-around, center);
  padding-bottom: 3em;
}

/* contacto */

.mainContactoManos {
  max-height: 300px;
  @include bg-card-responsive;
  margin-bottom: 2em;
}

.mainContactoInputMaps {
  @include grid-2(1, 1em);
}

.iframeMaps {
  width: 100%;
  height: 100%;
}

/* Preguntas Frecuentes */

.tarjetasMP {
  padding-top: 2px;
}

/* nosotras */

.misionVision {
  @include flex(row, nowrap, center, center);
  margin-bottom: 1em;

  @media screen and (max-width: 768px) {
    img {
      display: none;
    }
  }
}



.teamFlex {
  @include flex(row, nowrap, center, center);
  gap: 3em;

  img{

    border-radius: 5px;
    margin-bottom: 3em
  };

  p {
    margin-top: 5em;
  }
}


.teamGrid{
@include grid (1,10 px);
@include grid-contenido (center, center, center);


}


/* Posicionamiento de footer en Nosotras */

.bodyNosotras {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

/* Asesoramiento */

.asesoramiento {
  img {
    height: 150px;
  }

  @media screen and (max-width: 768px) {
    img {
      display: none;
    }
  }
}

.asesorias {
  @include flex(row, nowrap, center, center);
}



/* tienda */

.tituloShop {
  @include grid(3, 1);
}

.btn-filtro {
  @include flex(row, nowrap, center, center);
}

.shopGrid {
  @include grid-4(1, 1, 2, 3, 1em);
  @include grid-contenido(center, center, center);

  @media screen and (min-width: 1120px) {
    grid-template-columns: repeat((4), 1fr);
    margin-bottom: 2rem;
  }
}

.stock {
  font-weight: 600;
  color: rgb(30, 167, 53);
}

.cardTitulo {
  @extend .textos;
  font-size: large;
}

.cardTextos {
  @include flex(column, nowrap, space-between, center);
}
